/*styling employee table*/
h1 {
    text-align: center;
}
#information {
    max-width: 900px;
    margin: auto;
    /*border-style: solid;*/
}

#newEmployees th {
    max-width: 900px;
    box-sizing: border-box;
    border-style: solid;
}
#employeeInfo td{
    max-width: 900px;
    border-style: solid;
    border-width: 1px;
}

.over-budget {
background-color: red;
}